.te{
    td{
        padding-inline: 200px;
        position: absolute top;
    }
}
    
.ti{
    td{
        padding-inline:15px
    }
}
.details{
    img{
        object-fit: cover;
    }
}

.nav{
     text-align: right;
    a{ 
        color:black;
        text-decoration-line: underline;
        text-decoration-color:white;
        margin-left: 45px;

        
    }
    a:hover{
        color: white;
        padding: 0.3%;
        border-radius:45px;
        background-color: orange;
    }
}
