p
{
    text-align: left;
    text-size-adjust: 100px;
    font-family: fantasy;
    padding: 100px;
    color:white;

    
}
img{
    float: right;
    border-radius: 45px;
     border: 1px;
     border:solid;
     border-color: white;
     padding: auto;
     padding: white;
     background-color: white;
}
.two
{
    img{

    float: left;
    border-radius: 45px;
     border: 1px;
     border:solid;
     border-color: white;
     padding: auto;
     padding: white;
     background-color: white;
}
p{
    text-align: right;
    text-size-adjust: 100px;
    font-family: fantasy;
    padding: 100px;
    color:white;
}
}
.thr{
    img{
        float:right;
        border-radius: 45px;
     border: 1px;
     border:solid;
     border-color: white;
     padding: auto;
     padding: white;
     background-color: white;
    }
    p{
        text-align: left;
    text-size-adjust: 100px;
    font-family: fantasy;
    padding: 100px;
    color:white;
    }
}
.nav{
     
    text-align: right;
    text-decoration: dashted;


}
a:hover{
    color: black;
        text-decoration: none;
        text-decoration:none;
        padding: 0.3%;
        background-color: orange;
        border-radius:45px;
}
a{
    margin-left: 45px;
    color:white;
    padding: auto;
    padding: orange;
}
body{
    
}
.twlog{
  img{
    float:left;
     
  }
}
body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}
.twlog{
  padding-bottom:45px;